<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>dead-1 .png</key>
            <dict>
                <key>frame</key>
                <string>{{2,813},{147,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,126}</string>
            </dict>
            <key>dead-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,1053},{126,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,128}}</string>
                <key>sourceSize</key>
                <string>{126,128}</string>
            </dict>
            <key>dead-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,400},{149,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{149,122}}</string>
                <key>sourceSize</key>
                <string>{149,122}</string>
            </dict>
            <key>dead-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{459,654},{148,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,124}}</string>
                <key>sourceSize</key>
                <string>{148,124}</string>
            </dict>
            <key>dead-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,279},{164,125}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{164,125}}</string>
                <key>sourceSize</key>
                <string>{164,125}</string>
            </dict>
            <key>dead-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,136},{177,114}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{177,114}}</string>
                <key>sourceSize</key>
                <string>{177,114}</string>
            </dict>
            <key>dead-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,128},{175,105}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{175,105}}</string>
                <key>sourceSize</key>
                <string>{175,105}</string>
            </dict>
            <key>pass-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{159,522},{148,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,133}}</string>
                <key>sourceSize</key>
                <string>{148,133}</string>
            </dict>
            <key>pass-10.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,657},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>pass-11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,552},{148,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,130}}</string>
                <key>sourceSize</key>
                <string>{148,130}</string>
            </dict>
            <key>pass-12.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,415},{148,133}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,133}}</string>
                <key>sourceSize</key>
                <string>{148,133}</string>
            </dict>
            <key>pass-13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,787},{147,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,126}</string>
            </dict>
            <key>pass-14.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,2},{176,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,129}}</string>
                <key>sourceSize</key>
                <string>{176,129}</string>
            </dict>
            <key>pass-15.png</key>
            <dict>
                <key>frame</key>
                <string>{{347,272},{156,141}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,141}}</string>
                <key>sourceSize</key>
                <string>{156,141}</string>
            </dict>
            <key>pass-16.png</key>
            <dict>
                <key>frame</key>
                <string>{{660,365},{152,148}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{152,148}}</string>
                <key>sourceSize</key>
                <string>{152,148}</string>
            </dict>
            <key>pass-17.png</key>
            <dict>
                <key>frame</key>
                <string>{{743,235},{159,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{159,128}}</string>
                <key>sourceSize</key>
                <string>{159,128}</string>
            </dict>
            <key>pass-18.png</key>
            <dict>
                <key>frame</key>
                <string>{{377,140},{170,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{170,130}}</string>
                <key>sourceSize</key>
                <string>{170,130}</string>
            </dict>
            <key>pass-19.png</key>
            <dict>
                <key>frame</key>
                <string>{{569,133},{172,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{172,137}}</string>
                <key>sourceSize</key>
                <string>{172,137}</string>
            </dict>
            <key>pass-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{309,550},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>pass-20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,140},{176,137}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,137}}</string>
                <key>sourceSize</key>
                <string>{176,137}</string>
            </dict>
            <key>pass-21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{194,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{194,136}}</string>
                <key>sourceSize</key>
                <string>{194,136}</string>
            </dict>
            <key>pass-22.png</key>
            <dict>
                <key>frame</key>
                <string>{{301,808},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>pass-23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,941},{142,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{142,136}}</string>
                <key>sourceSize</key>
                <string>{142,136}</string>
            </dict>
            <key>pass-24.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,2},{189,132}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{189,132}}</string>
                <key>sourceSize</key>
                <string>{189,132}</string>
            </dict>
            <key>pass-25.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,680},{147,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,126}}</string>
                <key>sourceSize</key>
                <string>{147,126}</string>
            </dict>
            <key>pass-26.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,780},{144,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{144,138}}</string>
                <key>sourceSize</key>
                <string>{144,138}</string>
            </dict>
            <key>pass-27.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1052},{133,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{133,127}}</string>
                <key>sourceSize</key>
                <string>{133,127}</string>
            </dict>
            <key>pass-28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,406},{155,144}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{155,144}}</string>
                <key>sourceSize</key>
                <string>{155,144}</string>
            </dict>
            <key>pass-29.png</key>
            <dict>
                <key>frame</key>
                <string>{{180,252},{165,138}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{165,138}}</string>
                <key>sourceSize</key>
                <string>{165,138}</string>
            </dict>
            <key>pass-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,524},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>pass-30.png</key>
            <dict>
                <key>frame</key>
                <string>{{389,2},{178,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{178,136}}</string>
                <key>sourceSize</key>
                <string>{178,136}</string>
            </dict>
            <key>pass-31.png</key>
            <dict>
                <key>frame</key>
                <string>{{505,272},{126,153}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{126,153}}</string>
                <key>sourceSize</key>
                <string>{126,153}</string>
            </dict>
            <key>pass-32.png</key>
            <dict>
                <key>frame</key>
                <string>{{747,2},{176,124}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{176,124}}</string>
                <key>sourceSize</key>
                <string>{176,124}</string>
            </dict>
            <key>pass-33.png</key>
            <dict>
                <key>frame</key>
                <string>{{609,774},{146,126}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{146,126}}</string>
                <key>sourceSize</key>
                <string>{146,126}</string>
            </dict>
            <key>pass-34.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,756},{147,122}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{147,122}}</string>
                <key>sourceSize</key>
                <string>{147,122}</string>
            </dict>
            <key>pass-35.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,392},{156,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{156,128}}</string>
                <key>sourceSize</key>
                <string>{156,128}</string>
            </dict>
            <key>pass-36.png</key>
            <dict>
                <key>frame</key>
                <string>{{757,880},{141,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{141,130}}</string>
                <key>sourceSize</key>
                <string>{141,130}</string>
            </dict>
            <key>pass-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,645},{148,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,127}}</string>
                <key>sourceSize</key>
                <string>{148,127}</string>
            </dict>
            <key>pass-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,515},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>pass-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{806,627},{148,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,127}}</string>
                <key>sourceSize</key>
                <string>{148,127}</string>
            </dict>
            <key>pass-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,684},{148,127}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,127}}</string>
                <key>sourceSize</key>
                <string>{148,127}</string>
            </dict>
            <key>pass-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,497},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>pass-9.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,367},{148,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{148,128}}</string>
                <key>sourceSize</key>
                <string>{148,128}</string>
            </dict>
            <key>run-1.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,948},{102,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,136}}</string>
                <key>sourceSize</key>
                <string>{102,136}</string>
            </dict>
            <key>run-2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1079},{111,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{111,128}}</string>
                <key>sourceSize</key>
                <string>{111,128}</string>
            </dict>
            <key>run-3.png</key>
            <dict>
                <key>frame</key>
                <string>{{900,880},{113,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{113,130}}</string>
                <key>sourceSize</key>
                <string>{113,130}</string>
            </dict>
            <key>run-4.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,902},{130,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{130,136}}</string>
                <key>sourceSize</key>
                <string>{130,136}</string>
            </dict>
            <key>run-5.png</key>
            <dict>
                <key>frame</key>
                <string>{{151,915},{143,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{143,136}}</string>
                <key>sourceSize</key>
                <string>{143,136}</string>
            </dict>
            <key>run-6.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,1025},{134,128}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{134,128}}</string>
                <key>sourceSize</key>
                <string>{134,128}</string>
            </dict>
            <key>run-7.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,235},{115,130}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,130}}</string>
                <key>sourceSize</key>
                <string>{115,130}</string>
            </dict>
            <key>run-8.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,920},{103,136}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{103,136}}</string>
                <key>sourceSize</key>
                <string>{103,136}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>rat_anim.png</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:2d5feaee798b999a4490f0e6d79b4c6b$</string>
            <key>textureFileName</key>
            <string>rat_anim.png</string>
        </dict>
    </dict>
</plist>
